<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
<div id="app">

</div>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script id="job-list" type="x-template">
        <h4>Jobs</h4>
        <ul class="menu">
            <li>Current</li>
            <li>Archived</li>
        </ul>
        <table class="table table-striped">
            <tr>
                <th>Job Number</th>
                <th>Data File</th>
                <th>Desc</th>
                <th>Properties</th>
                <th>Labels</th>
                <th>Manifest</th>
                <th>Submitted</th>
                <th>Archive</th>
            </tr>
            <tr>
                <td onClick="$('#app').html($('#job-show').html())">12345</td>
                <td><a href="#">Customers October 2015.csv</a></td>
                <td>XYZ Promo</td>
                <td>10cm x 6cm x 4cm x 400g</td>
                <td><a href="#">Print</a> <span class="label label-danger">✘</span></td>
                <td><a href="#">Print</a> <span class="label label-success">✔</span></td>
                <td><a href="#">Submit to AP</a> <span class="label label-success">✔</span></td>
                <td><a href="#">Archive</a></td>
            </tr>
            <tr>
                <td>12345</td>
                <td><a href="#">Customers October 2015.csv</a></td>
                <td>XYZ Promo</td>
                <td>10cm x 6cm x 4cm x 400g</td>
                <td><a href="#">Print</a> <span class="label label-danger">✘</span></td>
                <td><a href="#">Print</a> <span class="label label-danger">✘</span></td>
                <td><a href="#">Submit to AP</a> <span class="label label-success">✔</span></td>
                <td><a href="#">Archive</a></td>
            </tr>
            <tr>
                <td>12345</td>
                <td><a href="#">Customers October 2015.csv</a></td>
                <td>XYZ Promo</td>
                <td>10cm x 6cm x 4cm x 400g</td>
                <td><a href="#">Print</a> <span class="label label-danger">✘</span></td>
                <td><a href="#">Print</a> <span class="label label-success">✔</span></td>
                <td><a href="#">Submit to AP</a> <span class="label label-danger">✘</span></td>
                <td><a href="#">Archive</a></td>
            </tr>
            <tr>
                <td>12345</td>
                <td><a href="#">Customers October 2015.csv</a></td>
                <td>XYZ Promo</td>
                <td>10cm x 6cm x 4cm x 400g</td>
                <td><a href="#">Print</a> <span class="label label-danger">✘</span></td>
                <td><a href="#">Print</a> <span class="label label-success">✔</span></td>
                <td><a href="#">Submit to AP</a> <span class="label label-success">✔</span></td>
                <td><a href="#">Archive</a></td>
            </tr>
        </table>
</script>
<script id="job-show" type="x-template">
    <ul class="menu">
        <li onClick="$('#app').html($('#job-list').html())">Back to jobs</li>
    </ul>
    <h4>Job Details</h4>
    {{job_number}}
    {{records.length}} records
<div class="row">
    <ul class="menu">
        <li v-on="click: labels_printed = new Date().getTime()">Labels <span class="label label-danger" v-if="!labels_printed">✘</span> <span class="label label-success" v-if="labels_printed">✔</span></li>
        <li v-on="click: manifest_printed = new Date().getTime()">Manifest <span class="label label-danger" v-if="!manifest_printed">✘</span> <span class="label label-success" v-if="manifest_printed">✔</span></li>
        <li v-on="click: xml_uploaded = new Date().getTime()">Send to Post <span class="label label-danger" v-if="!xml_uploaded">✘</span> <span class="label label-success" v-if="xml_uploaded">✔</span></li>
    </ul>
</div>

    <h4>Data</h4>
    <ul class="menu">
        <li>Import</li>
        <li>Manual Record Entry</li>
        <li>Export to CSV</li>
    </ul>
    <table class="table table-striped table-bordered">
        <tr>
            <th colspan=7>Address</th>
            <th colspan="4">Dimensions</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Postcode</th>
            <th>State</th>
            <th>Suburb</th>
            <th>Street Address</th>
            <th>Unit</th>
            <th>Position</th>
            <th>Name</th>
            <th>Length</th>
            <th>Width</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Return To Sender Block</th>
            <th>Delivery Special Instructions</th>
            <th>Edit</th>
        </tr>
        <tr li-repeat="record in records">
            <td>{{record.address.postcode}}</td>
            <td>{{record.address.state}}</td>
            <td>{{record.address.suburb}}</td>
            <td>{{record.address.address}}</td>
            <td>{{record.address.unit}}</td>
            <td>{{record.address.position}}</td>
            <td>{{record.address.name}}</td>
            <td>{{record.dimensions.length}}</td>
            <td>{{record.dimensions.width}}</td>
            <td>{{record.dimensions.height}}</td>
            <td>{{record.dimensions.weight}}</td>
            <td>{{record.dimensions.rts_text}}</td>
            <td>{{record.dimensions.delivery_text}}</td>
            <td><a on="click: editRecord(record)">Edit</a></td>
        </tr>
    </table>
<div class="row"></div>
</script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    <script type="text/javascript">
        $("#app").html($("#job-list").html());
    </script>
    </body>
</html>
